
body{
     font-family: 'Poppins', sans-serif;
}

/* Header */

.header-container{
    background-color: #264653;
}

.header-container h6{
    font-size: 14px;
    font-weight: 300;
}

.header-container h1{
    font-size: 48px;
    font-weight: 600;
}

.header-container p{
    font-weight: 300;
    font-size: 16px;
}

.header-button{
    width: 168px;
    height: 44px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #E76F51;
    color: #FFFFFF;
    
}

.header-img img{
    height: 447px;
    
}

/* Featured Bikes */

.card .img{
    width: 149px;
    height: 149px;
}

.featured-bike {
    filter: grayscale(100%);
  }



/* FAQ Section */

.faq-img{
    height: 423.5px;
}

.accordion-border{
    padding: 20px 24px;
}

.faq-text{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

.faq-body{
    font-size: 16px;
    color: #7E848C;
}

/* Carousel */

.carousel-container{
    width: 50%;
    margin: auto;
    
}

.sign-up-button{
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}