
body{
     font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

/* Header */

.header-container{
    background-color: #264653;
}

.header-container h6{
    font-size: 14px;
    font-weight: 300;
}

.header-container p{
    font-weight: 300;
    font-size: 16px;
    color:  #E0E0E0;
}

.header-button{
    width: 168px;
    height: 44px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #E76F51;
    color: #FFFFFF;
}

.header-img img{
    height: 447px;   
}

/* Featured Bikes */

.feature-text h6{
    font-weight: 600;
    font-size: 14px;
    color: #E76F51;
}

.featured-bike {
    filter: grayscale(100%);
  }

/* Client's Feedback */

.card .img{
    width: 149px;
    height: 149px;
}

.filled{
    color: #E77C40;
}


/* FAQ Section */

.faq-img{
    height: 423.5px;
}

.accordion-border{
    padding: 20px 24px;
}

.faq-text{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

.faq-body{
    font-size: 16px;
    color: #7E848C;
}

/* Carousel */

.carousel-container{
    width: 60%;
    margin: auto;
    
}

.sign-up-button{
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

/* Mobile Devices */

@media all and (max-width: 767px){
    h1{
        font-size: 30px;
    }
}